namespace: netapp

resources:
- clusterrole.yaml
- clusterrolebinding.yaml
- deployment.yaml
- service.yaml
- serviceaccount.yaml
- configmap.yaml

images:
- name: filer-sidecar-injector
# must update this anways
  newName: artifactory.cloud.statcan.ca/das-aaw-docker/filer-sidecar
  newTag: latest
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
