apiVersion: v1
kind: Service
metadata:
  name: filer-sidecar-injector
  namespace: netapp
  labels:
    app: filer-sidecar-injector
spec:
  ports:
  - port: 443
    targetPort: 8443
  selector:
    app: filer-sidecar-injector
